Flask
gunicorn
python-dotenv

# AI / LLM
langchain
langchain-community
langchain-huggingface
google-generativeai

# NLP / Embeddings
sentence-transformers
transformers
faiss-cpu
nltk
numpy

# Documents
python-docx
PyPDF2
Pillow
pytesseract

# Redis
upstash-redis

# Voice
gTTS
