Flask
gunicorn
python-dotenv

# LangChain (stable for Python 3.11)
langchain==0.1.20
langchain-community==0.0.38

# AI / LLM
groq

# Embeddings / NLP
sentence-transformers
transformers
faiss-cpu
numpy<2

# Redis
upstash-redis

# Documents
python-docx
PyPDF2
Pillow

# Voice
gTTS
